/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

nav {
  margin-bottom: 3em;
}

button:hover {
  background-color:#506AD4;
}

button {
  display: block;
  color: #506AD4;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
  text-decoration: none;
  font-size: 24px;
  background-color:#ff9d00;
}

button:hover {
background-color: #506AD4;
text-decoration: none;
color: #ff9d00;
}


.nav-btn {
  border-radius: 15px;
  border: 1px solid #ff9d00;
  box-shadow: 12px 12px 5px 1px #00805b;
  margin: 1em;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn:active {
  transform: translate(6px, 6px);
  box-shadow: 8px 8px 5px #006145;
}

ul {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
}

.nav-btn {
  background-color:#ff9d00;
  width: 200px;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color:#506AD4;
}

.container {
  padding: 5em 8em;
  margin: 5em auto;
  border-radius: 25px;
  background-color: #ffd24c;
  box-shadow: 15px 15px 5px 5px #42508b;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  /* color: #a807da; */
  color: #181717;
  font-size: larger;
  font-weight: bold;
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #00bb86;
  color: #00523a;
  border-radius: 0;
  border: 20px solid #ff9d00;
  box-shadow: 15px 15px 5px 5px #42508b;
  border-radius: 3em;
  margin: 3em 3em 3em 3em;
}

.description{
  white-space: pre-wrap;
  box-shadow: 5px 1px 2px 1px #9b802e;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  margin-top: 0.5em;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-bottom: 2em;
  box-shadow: 12px 12px 5px 1px #9b802e;
}

.hour {
  background-color: #7c2c2c;
  color: #ff8989;
  border: 1px solid #7c2c2c;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
}

.past {
  background-color: #9acfc4;
  
}

.present {
  background-color: #ff6961;
  
}

.future {
  background-color: #77dd77;
  
}

.saveBtn {
  border: 1px solid #156274;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #156274;
  color: #06AED5;
  width: 5em;
}

.saveBtn i:hover {
  font-size: 20px;
  cursor: pointer;
}

.saveBtn:active {
  transform: translate(6px, 6px);
  box-shadow: 8px 8px 5px #61501f;
}

.top-screen-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.top-screen-btn {
  border-radius: 15px;
  color: #506AD4;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 50px;
  background-color:#ff9d00;
  border: 1px solid #ff9d00;
  box-shadow: 12px 12px 5px 1px #42508b;
}

.top-screen-btn a{
  text-decoration: none;
}

.top-screen-btn:hover {
  cursor: pointer;
  color: #ffd24c;
  background-color: #00bb86;
}

.top-screen-btn:active {
  transform: translate(6px, 6px);
  box-shadow: 8px 8px 5px #2b365f;
}